html, body  {
 height: 100vh;
 justify-content: center;
}

.titlecard {
    margin-top: 25vh;
}

.title {
    font-family: 'DM Serif Display', serif;
    margin-bottom: 0;
}

.date {
    font-family: 'DM Serif Display', serif;
}

.catchphrase {
    font-family: 'Grape Nuts', serif;
    margin-top: -10px;
    margin-left: 20vh;
}

.textbox {
    height: 45px;
    width: 280px;
    margin-top: 2vh;
}

.button {
    height: 45px;
    width: 100px;
    margin-top: 2vh;
}

.fa-bell {
    color: #F6E7DE;
} 

.footer-image {
    height: 2rem;
}

.card {
  aspect-ratio: 3/2; /* Adjust height as needed */
  perspective: 1000px;
  transition: transform 0.8s ease-in-out;
  width: 100%;
  margin: 5%;
}

.card-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.8s ease-in-out;
}

.card-side.front {
  transform: rotateY(0deg);
}

.postcard-image {
  object-fit: cover;
}

.card-side.back {
  transform: rotateY(180deg);
}

.postcard-back {
  background-image: repeating-linear-gradient(-45deg,white, white 10px,blue 10px, blue 20px,white 20px, white 30px,red 30px, red 40px);
}

.card:hover .card-side.front {
  transform: rotateY(180deg);
}

.card:hover .card-side.back {
  transform: rotateY(0deg);
}

