* {
    padding: 0;
    margin: 0;
}
header {
    background-color: #19426D;
    color: #F6E7DE;
    height: 100px;
}

body {
    background-color: #F6E7DE;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

svg {
    height: 40px;
    width: 40px;
}